@import "styles/reset.css";
@import "styles/vars.css";
* { box-sizing: border-box; }
.logo, .menu, footer, .content-center, .content {
    border: 1px solid;
    text-align: center;
    display: grid;
    align-items: center;
}
footer , .content-center ,.header{
    margin: 0 auto;
}
.main , .content-center , footer{
    width:var(--width-main);
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;

    width: var(--width-main);
    align-items: center;
    padding: var(--min-indentation) 0 ;

}


.logo {
    height: var( --max-indentation);
    width: calc(var( --max-indentation)* 4.3);

    padding: 0 calc(var( --min-indentation) * 2);
}

.menu {
    height: var( --max-indentation);
    width: var(--size-main);

    padding: 0 calc(var( --min-indentation) * 2);
}


.main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: calc(var(--max-indentation) * 2.2);
    margin: var(--meddium-indentation) auto;
    gap: var(--min-indentation);
}


.content {
    width: 100%;
    height: var(--width-size200);
    margin: 0;
    padding: var(--min-indentation);
}


.content-center {
    height: var(--width-size500);

}


footer {
    display: grid;
    height: calc(var( --max-indentation) * 1.5);
    padding: var(--min-indentation);
}



@media (max-width: 764px) {
    .header {
        width: var(--width-size1130);
        justify-content: center;
    }
    .logo {
        height: var( --max-indentation);
        width: var(--width-size440);

    }

    .menu {
        height: var( --max-indentation);
        width: var(--width-size650);

    }

    .main {
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        margin: calc(var(--min-indentation)*3) auto;
    }

    footer,.content-center,.main{
        margin: calc(var(--min-indentation)/0.5) auto;
        width: var(--width-size1170);
    }
}
@media (min-width: 765px) and (max-width: 1024px) {
    .header {
        width: var(--width-size1170);
        justify-content: center;
    }
    .logo {
        height: var( --max-indentation);
        width: var(--width-size440);

    }

    .menu {
        height: var( --max-indentation);
        width: var(--width-size680);

    }
    .content {
        width:var(--width-size378);
        height: var( --width-size450);
    }


    .content-center {

        width: var(--width-size1170);
        justify-content: center;
    }
    footer {
        width:var(--width-size1170);
    }
    .main{
        height: var(--width-size480);
    }
}