:root {
    --primary-color: #292727;



    --width-main:1180px;
    --min-indentation:10px;
    --meddium-indentation:20px;
    --max-indentation:100px;
    --width-size200:200px;
    --width-size378:378px;
    --width-size440:440px;
    --width-size450:450px;
    --width-size480:480px;
    --width-size500:500px;
    --width-size650:650px;
    --width-size680:680px;
    --width-size1130:1130px;
    --width-size1170:1170px;
    --size-main:700px;



}

