:root {
    --primary-color: #292727;




--logo-size:50px;
--width-mob:200px;
    --conteiners-size:100px;
--hero-body-height: 700px;
--section-size: 1000px;
--warper-width:1400px;
--content-size:300px;
--font-size-h1: 20px;
--padding-size: 10px;
--header-height:75px;
}

